<!DOCTYPE html>
<html>
<head>
    <title>AXIS | <%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/09afaa9242.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bgStyle.css'/>

</head>
<body>
<nav class="navbar navbar-default no-margin">
    <%- include('../partials/manager/managerNavbar') %>
</nav>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li >
                <a href="/manager/applied-leaves"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-dashboard fa-stack-1x "></i></span> View Leaves</a>
            </li>
            <li >
                <a href="/manager/leave-applications"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-envelope-square fa-stack-1x "></i></span> Leave Applications</a>
                </li>
           
                    <li class="activeNow">
                     <a href="/manager/apply-for-leave"><span class="fa-stack fa-lg pull-left"><i
                         class="fa fa-envelope-square fa-stack-1x "></i></span>Apply for Leave</a>
                        </li>
                    <li>
                    <a href="/manager/balance-leaves"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-check-circle fa-stack-1x "></i></span>Balance Leaves</a>
                                </li>
                <li>
                <a href="/manager/view-holiday"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-list-ol fa-stack-1x"></i></span>View Holidays</a>
            </li>
            <li>
                <a href="/manager/view-profile"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-user fa-stack-1x "></i></span>View Profile</a>
            </li> 
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Application Details</h1>
                    
                    <div id="menu1" style="overflow: auto;">
                        <form class="form-group-sm" action="/manager/apply-for-leave" method="post" id="form1">
                            
                            <label for="type">Type:</label>
                            <select class="form-control" id="type" name="type">
                                <option value=""></option>
                                <option value="SickLeave" >Sick Leave</option>
                                <option value="CasualLeave">Casual Leave</option>
                                <option value="PersonalLeave">Personal Leave</option>
                                <option value="MaternityLeave">Maternity Leave</option>
                                <option value="PaternityLeave">Paternity Leave</option>
                                <option value="MarriageLeave">Marraige Leave</option>
                                <option value="AdoptionLeave">Adoption Leave</option>
                            </select>
                            <div class="form-group">
                                <label for="start_date">Start Date:</label>
                                <input type="date" required="required" class="form-control" id="start_date"
                                       name="startDate">
                                <label id="error" style="color:red;"></label>
                            </div>
                            <div class="form-group">
                                <label for="end_date">End Date:</label>
                                <input type="date" required="required" class="form-control" id="end_date"
                                       name="endDate">
                            </div>
                            <div class="form-group">
                                <label for="reason">Reason for Leave:</label>
                                <textarea class="form-control" required="required" style="resize: none" id="reason"
                                          name="reason" rows="5" cols="60" autocomplete="off"></textarea></p>
                            </div>
                            <button type="button" onclick="history.go(-1);" class="btn btn-default">Cancel</button>
                            <button type="submit" data-toggle="modal" data-target="#myModal1" class="btn btn-default">
                                Apply
                            </button>
                            <%if(hasErrors){%>
                                <label style="color: red;" id="message"><%=messages%></label>
                                <%}%>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>

</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js" charset="UTF-8"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" charset="UTF-8"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#form1').on('submit', function () {
            var startDate = new Date($('#start_date').val());
            var dateNow=new Date();
            // var dateNow=Date.now()
            startDay=startDate.getDay();
            var endDate = new Date($('#end_date').val());
            var period = ($('#period').val());
            var Difference_In_Time = endDate.getTime() - startDate.getTime();
            var Diff_In_Time = startDate.getTime() - dateNow.getTime();
            // To calculate the no. of days between two dates
            var days= Difference_In_Time / (1000 * 3600 * 24);
            var dayNow= Diff_In_Time / (1000 * 3600 * 24);
            dayNow=Math.trunc(dayNow)
            if (startDate > endDate) {
                $('#error').text("    Start Date must be smaller than End Date! ")
                return false;
            }else if(startDay==0||startDay==6){
                $('#error').text("    Start Date must not be a saturday or a sunday")
                return false;
            }else if(dayNow<-30){
                $('#error').text(" You can't apply leave for past date for more than 30 days")
                return false;
            }else{
                return true;
            }
        });
        $('#period').bind('keypress', function (e) {
            if (e.which < 48 ||
                (e.which > 57 && e.which < 65) ||
                (e.which > 90 && e.which < 97) ||
                e.which > 122) {
                e.preventDefault();
            }

        });
    });
</script>

<script src="/javascripts/sidebar_menu.js"></script>
<script>

    $(document).ready(function () {
        for (i = new Date().getFullYear(); i > 1900; i--) {
            $('#year').append($('<option />').val(i).html(i));
        }
    });
</script>
</body>



</html>
