<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheets/navbar.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <img src="/images/axis_logo.svg" class="navbar_logo">
         <nav>
             <ul>
                 <li><a href="/manager" style="text-decoration: none;">Home</a></li>
                 <li><a href="/manager/aboutUs" style="text-decoration: none;">About Us</a></li>
                 <li><a href="/manager/logout" style="text-decoration: none;">Logout</a></li>
                </ul>
            </nav>
            <li id="userName"><%= userName %></li>
        </header>
</body>
</html>