<!DOCTYPE html>
<html>
<head>
	<title>AXIS | AboutUs</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="/stylesheets/aboutUs.css" rel="stylesheet" type="text/css">
</head>	
<body><%- include('../employee/employeeNavbar') %>

	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>"Badhti Ka Naam Zindagi"</h3>
					<p>The bank was founded on 3 December 1993 as UTI Bank, opening its registered office in Ahmedabad 
                        and a corporate office in Mumbai. The bank was promoted jointly by the Administrator of the Unit Trust of carousel-indicators
                         Life Insurance Corporation of India (LIC), General Insurance Corporation, National Insurance Company,
                          The New India Assurance Company, The Oriental Insurance Corporation and United India Insurance Company.
                           The first branch was inaugurated on 2 April 1994 in Ahmedabad by Manmohan Singh, then finance minister of India.</p>
					
				</div>
				
			</div>
			<div class="image-section">
				<img src="/images/axisAbout.jpg">
            </div>
		</div>
	</div>
	
</body>
</html>