<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheets/navbar.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/09afaa9242.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <img src="/images/axis_logo.svg" class="navbar_logo">
         <nav>
             <ul>
                 <li><a href="/senior" style="text-decoration: none;">Home</a></li>
                 <li><a href="/senior/aboutUs" style="text-decoration: none;">About Us</a></li>
                 <li><a href="/senior/logout" style="text-decoration: none;">Logout</a></li><i class="fa-regular fa-arrow-right-from-bracket"></i>
                </ul>
            </nav>
            <li id="userName"><%= userName %></li>
        </header>
</body>
</html>