<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #footer {
      
        position:relative;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 55px;
        background-color:#000000;
        color:white;
        text-align: center;
        margin-top: 15px;
      }
        </style>
</head>
<body>
    <div id="footer" >
    <b>COPYRIGHT © 2022<br>
    AXIS BANK ALL RIGHTS RESERVED.
    </div>
</body>
</html>