<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheets/navbar.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <img src="/images/axis_logo.svg" class="navbar_logo">
         <nav>
             <ul>
                 <li><a href="/">Home</a></li>
                 <li><a href="/home/aboutUs">About Us</a></li>
                 <li><a href="/">Login</a></li>
             </ul>
         </nav>
     </header>
</body>
</html>